/* desktop */
@media screen and (max-width: 1200px) {
  .link {
    text-align: center;
    margin-bottom: 16px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .link {
    text-align: left;
    margin: 0px;
  }

  .link:nth-child(odd) {
    margin-bottom: 16px;
  }
}

.link {
  color: hsl(210, 10%, 33%);
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: hsl(171, 66%, 44%);
}
