/* mobile */
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
  }
}

/* tablets & desktop */
@media screen and (min-width: 640px) {
  .wrapper {
    width: 80%;
    flex-wrap: wrap;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
