/* mobile */
@media screen and (max-width: 640px) {
}

/* tablets & mobile */
@media screen and (max-width: 1200px) {
  .footer {
    grid-template-rows: 1fr 3fr 1fr;
  }

  .links {
    flex-direction: column;
  }

  .footer p {
    display: none;
  }

  .logo {
    margin-bottom: 16px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .footer {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .links {
    flex-flow: column wrap;
    height: 75px;
  }
}

.footer {
  background-color: #f5f6f8;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 40px 0;
}

.links {
  display: flex;
  width: 100%;
}

.logo {
  height: 50px;
}
